/* 
Project Name: Monthly Resolutions
Client: One Month
Author: Christopher Castig | @castig
*/


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}
.alignleft {
     float: left;
     margin: 0 15px 15px 0;
}


/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/
body {
     background: url('notebook.png'); /* add a fallback color of #d6d6d6 */
     color: #000000;
     font-family: 'Lato', sans-serif;
     line-height: 1.7; /* line-height is unit-less */
     font-size: 100%;
    }  
    a {
         color: orange;
    }
    h1 {
         font-size: 50px;
    }
    h1 , p {
         margin-top: 0;
         margin-bottom: 0;
    }
    blockquote {
         font-style: italic;
    }
/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/
#container {
     width: 1000px;
     margin: 0 auto 0 auto;
}
#header {
     padding-left: 0px;
     padding: 30px;
}
#main {
     width: 640px;
     padding: 30px;
     float: left;
     background-color: white;
     margin-right: 10px;
}

#sidebar {
     width: 350px;
     padding: 30px;
     float: left;
     background-color: white;
}
#footer {
     padding: 30px;
}


